# Ignore folders
images/
plugins/
w3tc-config/
wflogs/
uploads/
upgrade/
cache/
backupwordpress*/
themes/twentyfourteen/
themes/g5_h*/

# Ignore specific files
advanced-cache.php
db.php
object-cache.php
NwcH4gA97Oaji7hD.php
.htaccess

# Ignore data and junk files
*.DS_Store
.sass-cache/
*Thumbs.DB

# Don’t ignore theme image folders
!themes/pchc*/library/images/
!themes/pchc*/images/

# Don’t ignore these custom plugins
!plugins/pchc-custom-posts/
!plugins/pchc-subpages/
!plugins/pchc-services-list.php
