[submodule "themes/pchc-noahsnotes"]
	path = themes/pchc-noahsnotes
	url = git@github.com:pixleight/wordpress-bootstrap.git
[submodule "themes/pchc-dental"]
	path = themes/pchc-dental
	url = git@github.com:pixleight/wordpress-bootstrap.git
	branch = pchc-dental
[submodule "themes/pchc-peds"]
	path = themes/pchc-peds
	url = git@github.com:PCHC/pediatrics.git
[submodule "themes/pchc-board"]
	path = themes/pchc-board
	url = https://github.com/roots/sage.git
