[submodule "themes/pchc-noahsnotes"]
	path = themes/pchc-noahsnotes
	url = git@github.com:pixleight/wordpress-bootstrap.git
[submodule "themes/pchc-dental"]
	path = themes/pchc-dental
	url = git@github.com:pixleight/wordpress-bootstrap.git
	branch = pchc-dental
[submodule "themes/pchc-peds"]
	path = themes/pchc-peds
	url = git@github.com:PCHC/pediatrics.git
[submodule "themes/pchc-board"]
	path = themes/pchc-board
    url = git@github.com:PCHC/pchc-board.git
    branch = pchc-board/master
[submodule "themes/hopehouse"]
	path = themes/hopehouse
	url = git@github.com:PCHC/hopehouse.git
	branch = hopehouse
[submodule "themes/pchc-dentalresidency2016"]
	path = themes/pchc-dentalresidency2016
	url = git@github.com:PCHC/dentalresidency.git
	branch = pchc-dentalresidency
