# Just ignore wp-config.php and that pesky wpcf7_captcha
wp-config.php
wp-content/uploads/wpcf7_captcha/
!wp-content/uploads/wpcf7_captcha/.htaccess
sitemap.xml
sitemap.xml.gz
.htaccess

# Update the stuff below when it's go-time.

# Ignore everything in the root except the "wp-content" directory.
# /*
# !.gitignore
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/uploads/
wp-content/upgrade/
!wp-content/themes/
 
# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/
!wp-content/plugins/pchc-services-list.php
!wp-content/plugins/pchc-custom-posts/
!wp-content/plugins/pchc-subpages/
 
# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
# wp-content/themes/*
# !wp-content/themes/pchc/

# Recognise these files in previously ignored locations
!wp-content/uploads/.htaccess

# Ignore data and junk files
*.DS_Store
.sass-cache/
*Thumbs.DB
