@import 'compass';
$primary: #2F3485;
$secondary: #BE1E2D;

body {
	font-family: 'Bitter', sans-serif;
}

.wrap {
	@include background(linear-gradient(darken(#FFF,8%), #FFF));
}

.container {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

h1, h2 {
	font-weight: 400;
	strong {
		font-weight: 800;
	}
}

a {
	color: $primary;
	text-decoration: none;
	@include transition(all, 0.2s, ease-out);
	&:hover {
		color: $secondary;
	}
}

img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 512px;
	margin: 0 auto;
}

header {
	padding: 5em 0;
}

footer {
	padding: 5em 0;
  img {
  	max-width: 128px;
  }
}