/******************************************************************
Site Name: PCHC
Author: Chris Violette

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

#header-icons {
	font-size: 1em;
}

/*********************
FEATURE STYLES
*********************/
	
#above-content {
	
	.wrap {
		
	}
	
	a {
		
		
		&:hover {
			
		}
	}
	
	.widget, #homepage-features {
		
	}
	
	.homepage-feature {
		padding: 0 40px;
		
		img {
			
			&:hover {
				
			}
		}
		
		h3 {
			font-size: 1.7em;
		}
		
		.content {
			font-size: 1.3em;
			
			p {
				
				&:last-child {
					
				}
			}
		}
	}
}
