/******************************************************************
Site Name: PCHC
Author: Chris Violette

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*********************
RESPONSIVE DISPLAY CLASSES
*********************/

/* Show ONLY on this device */
.visible-phone { display: none !important; }
.visible-tablet { display: inherit !important; }
.visible-desktop { display: none !important; }

/* Hidden ONLY on this device */
.hidden-phone { display: inherit !important; }
.hidden-tablet { display: none !important; }
.hidden-desktop { display: inherit !important; }


/*********************
HEADER STYLES
*********************/

#logo {
	width: (100% / 4);

	a {
		height: 125px;
		background-position: 50% 0;
		@include vector-bg-with-fallback(pchc-logo);
	}
}

.header-right {
	width: (100% / 4 * 3);
}

.header-contact {
	font-size: 1em;
}

#menu-header-mobile-menu {
	li {
		a {
			font-size: 1em;
		}
	}
}


/*********************
NAVIGATION STYLES
*********************/

.nav {}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {

					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {

					}
				}

				&:first-child {}
				&:last-child {}

				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {




} /* end .entry-content */

.post-type-archive {

	.type-provider {
		&.content-excerpt {
			width: 32.7%;
			padding: 1em;
			margin: 0;
			border: none;
			display: inline-block;
			vertical-align: top;

			.thumb-provider {
				float: none;
				max-width: 100%;
				margin: 0;
			}
		}
	}
}

/* at this larger size, we can start to align images */
.alignleft, img.alignleft {
	margin-right: 1.5em;
	margin-left: 0;
	display: inline;
	float: left;
	max-width: 45%;

	&.polaroid {
		@include transform(rotate(2deg));
	}
}
.alignright, img.alignright {
	margin-left: 1.5em;
	margin-right: 0;
	display: inline;
	float: right;
	max-width: 45%;

	&.polaroid {
		@include transform(rotate(-2deg));
	}
}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}

/*********************
FOOTER STYLES
*********************/

/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */

.copyright {
	float: left;
	width: 60%;
}

.accreditation {
	float: right;
	text-align: center;
	font-size: 0.8em;
	color: #FFF;
	font-family: $sans-serif;
	font-weight: 100;
	max-width: 30%;
	margin: 30px 0 0;

	img {
		height: 60px;
	}
}

.disclaimer {
	margin: 0.5em auto;
	> small {
	  text-align: center;
	  margin: 0.5em auto;
	  max-width: 90%;
	  line-height: 1.5em;
	  display: block;
	  color: #FFF;
	  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	  font-size: 0.8em;
	  font-weight: 300;
	}
}

.footer-widget {
	clear: both;
	color: #FFF;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	margin: 0.5em auto;

	.widget {
		text-align: center;
		font-size: 0.8em;
		line-height: 1.5em;
		margin: 0.5em auto;
		max-width: 70em;

		a {
			color: #FFF;
			text-decoration: none;


			&:hover {
				text-decoration: underline;
				color: #FFF;
			}
		}
	}
}
