/******************************************************************
Site Name: PCHC
Author: Chris Violette

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	background: mix($pchc-blue, #FFF, 7%);
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

/*********************
RESPONSIVE DISPLAY CLASSES
*********************/

/* Show ONLY on this device */
.visible-phone { display: none !important; }
.visible-tablet { display: none !important; }
.visible-desktop { display: inherit !important; }

/* Hidden ONLY on this device */
.hidden-phone { display: inherit !important; }
.hidden-tablet { display: inherit !important; }
.hidden-desktop { display: none !important; }

/*********************
HEADER STYLES
*********************/

.header {
	background-color: #FFFFFF;
	@include box-shadow(0 10px 10px rgba(#000,0.1));
	position: relative;
	z-index: 10;
	padding-bottom: 0;
	background-position: 50% -700px;
	margin-bottom: 0;
	
	.searchform {
		width: 50%;
		margin-top: 65px;
		float: right;
	}
}

	#logo {
		a {
			width:	250px;
			height: 166px;
			margin: 40px 0 0;
		}
	}

.searchform {
	background: #FFF;
	border: 1px solid #CCC;
	padding: 0;
	margin-top: 0;
	@include border-radius(3px);
	
	.s {
		float: none;
		border: none;
		width: 85%;
		@include box-shadow(none);
		
		&:focus {
			border: none;
			margin-top: 0;
			@include box-shadow(none);
		}
	}

	.button.btn {
		display: block;
		float: right;
		background: none;
		width: auto;
		border: none;
		@include box-shadow(none);
		
		.icon-search {
			color: #555;
			@include text-shadow(0 1px 1px #CCC);
		}
		
		&:hover {
			background: none;
			border: none;
			
			.icon-search {
				color: $pchc-red;
			}
		}
		
		&:active {
			margin-top: 0;
			@include transform(translateY(1px));
			@include box-shadow(none);
		}
	}
}

.header-contact {
	float: right;
	text-align: right;
	color: $pchc-blue;
	font-size: 1.2em;
	
	a {
		color: $pchc-blue;
		text-decoration: none;
		
		&:hover {
			color: $pchc-red;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

#header-nav {
	background: none;
	
	&.fixed {
		height: 34px;
		
		.wrap {
			max-width: none;
			position: fixed;
			top: 0;
			width: 100%;
			margin: 0;
			background: #FFF;
			@include box-shadow(0 0 10px 5px rgba($pchc-blue, 0.5));
		}
		
		.nav {
			max-width: 1140px;
			margin: 0 auto;
		}
	}
}

.nav {
	text-align: center;
	display: block;

	li {
		display: inline-block;
		position: relative;

		a {
			border-bottom: 0;
			padding: 5px 6px;
			text-align: left;
			display: block;
			color: $pchc-blue;
			border-left: 1px solid #EEE;
			font-size: 0.93em;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $pchc-red;
			}
		}

		&:first-child {
			a {
				border-left: none;
			}
		}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;
			background: #FFF;
			@include box-shadow(0 10px 10px rgba(#000, 0.1));

			li {

				a {
					padding: 10px;
					display: block;
					width: 180px;
					text-shadow: 0 1px 0 #FFF;
					border-bottom: 1px solid #ddd;
					border-left: none;

					&:hover,
					&:focus {
						background: mix($pchc-brown, #FFF, 7%);
					}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
MAIN CONTENT
*********************/

#content {}

#main {
	background: #FFF;
	border: 1px solid rgba($pchc-blue, 0.25);
	padding: 10px;
	@include border-radius(3px);
}

.well {
	background: #f0f0f6;
	padding: 0.5em;
	border: none;
	@include box-shadow(
		0 1px 3px rgba(#000, 0.1) inset,
		0 -1px 0 rgba(#FFF, 0.25) inset
	);
	@include border-radius(3px);
}

.related-posts {
	.related-posts-type {
		width: 48%;
		margin-left: 4%;
		float: left;
		
		&:first-child {
			margin-left: 0;
		}
	}
}

/******************************************************************
POST TYPE STYLES
******************************************************************/

.post-type-archive {

	.type-provider {
		
	}
	
	.type-service {
		
	}
	
	.type-location {
		&.content-excerpt {
			width: (100% / 3);
			
			&:nth-child(2n+1) {
				clear: none;
			}
			
			&:nth-child(3n+1) {
				clear: left;
			}
		}
	}

}
		

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {

	.widgettitle {
		font-family: $header;
		font-weight: bold;
		color: $pchc-blue;
		margin-top: 0;
		margin-bottom: 0;
	}

	.widget {
		background: #FFF;
		border: 1px solid rgba($pchc-blue, 0.25);
		padding: 10px;
		@include border-radius(3px);
		margin: 0 0 1.5em;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}
	
	.widget_simpleimage {
		background: none;
		border: none;
		padding: 0;
		
		.simple-image {
			margin: 0;
		}
		
		img {
			display: block;
			max-width: 100%;
			border-top: 1px solid rgba(#FFF, 1);
			border-bottom: 1px solid rgba(#000, 0.3);
			@include transition(all 0.2s ease-in);
			@include border-radius(3px);
		}
		
		a {
			img {
				@include transition(all 0.2s ease-in);
			}
			
			&:hover {
				img {
					@include filter(brightness(125%));
				}
			}
		}
	}
}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


#refine-search {
	position: fixed;
	width: auto;
	z-index: 1001;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 5px 10px;
	background: rgba(#FFF, 0.9);
	border-bottom: none;
	border-left: none;
	border-right: none;
	@include box-shadow(0 -5px 15px rgba(#000,0.2));
	@include border-radius(3px 3px 0 0);
	
	.widgettitle {
		margin: 0;
		float: left;
		line-height: 32px;
	}
	
	ul {
		margin: 0;
		float: right;
		@include column-count(1);
		
		li {
			display: inline-block;
			margin: 0;
		}
	}
	
}

/*********************
FEATURE STYLES
*********************/
	
#above-content {
	
	.wrap {
		
	}
	
	a {
		
		
		&:hover {
			
		}
	}
	
	.widget, #homepage-features {
		
	}
	
	.homepage-feature {
		
		img {
			
			&:hover {
				
			}
		}
		
		h3 {
			
		}
		
		.content {
			
			p {
				
				&:last-child {
					
				}
			}
		}
	}
}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
#footer {
	.nav {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul { display: none; }
		}
	}
} /* end .footer-links */

.accreditation {
	max-width: none;
	width: 40%;
}

#footer-locations {
	font-size: 0.8em;
	
	li {
		width: (100%/6);
		
		&:nth-child(3n+1) {
			clear: none;
		}
		
		&:nth-child(6n+1) {
			clear: left;
		}
	}
}
