/******************************************************************
Site Name: PCHC
Author: Chris Violette

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: #565656;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
RESPONSIVE DISPLAY CLASSES
*********************/

/* Show ONLY on this device */
.visible-phone { display: inherit !important; }
.visible-tablet { display: none !important; }
.visible-desktop { display: none !important; }

/* Hidden ONLY on this device */
.hidden-phone { display: none !important; }
.hidden-tablet { display: inherit !important; }
.hidden-desktop { display: inherit !important; }

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
TOGGLE BUTTONS
*********************/

.toggle {
	$toggle-light-blue:		lighten($pchc-blue, 7%);
	float: right;
//	background: $pchc-blue;
//	@include background-image(linear-gradient($toggle-light-blue, $pchc-blue));
//	border: 1px solid $toggle-light-blue;
	border: none;
	background: none;
	padding: 0.3em 0.4em;
	position: relative;
	z-index: 1;
	@include border-radius(3px);
//	@include box-shadow(rgba(#FFF, 0.0980392) 0px 1px 0px 0px inset, rgba(#FFF, 0.0745098) 0px 1px 0px 0px);
	
	.icon-bar {
		display: block;
		height: 2px;
		width: 1.5em;
		background: $pchc-darkblue;
		margin-bottom: 3px;
		@include border-radius(3px);
		@include box-shadow(rgba(#000, 0.247059) 0px 1px 0px 0px);
	}
	
	&:hover {
//		background: $toggle-light-blue;
//		@include background-image(linear-gradient(lighten($toggle-light-blue, 12%), $pchc-blue));
	}
	
	&:active {
//		background: $pchc-darkblue;
//		@include background-image(linear-gradient($pchc-blue, $toggle-light-blue));
	}
	
	&.toggle:before {
		display: block;
		content: 'Tap to Expand';
		position: absolute;
		right: 100%;
		top: 50%;
		font-size: 0.7em;
		line-height: 1em;
		opacity: 0.8;
		@include transform(translate(0, -50%));
	}
	
	&.toggle-link:before {
		display: none;
	}
}

.toggle-hide {
	display: none;
}

.toggle-show {
	display: inherit !important;
}

/******************************************************************
TYPOGRAPHY
******************************************************************/

p {
	margin: 0 0 1em;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $header;
	text-rendering: optimizelegibility;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0.3em;
	line-height: 1.1em;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
	
	color: $pchc-blue;
}

h1, .h1 {
	font-size: 1.75em;
}

h2, .h2 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
	color: $pchc-brown;
}

h3, .h3 {
	font-size: 1.2em;
}

h4, .h4 {
	@extend h2;
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	@include vector-bg-with-fallback(header-swoosh);
	//background-size: contain;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	padding-bottom: 75px;
	margin-bottom: 20px;
}

	#logo {
		margin: 0;
		float: left;
		width: (100% / 3);
		
		a {
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-indent: 200%;
			width: 100%;
			height: 85px;
			@include vector-bg-with-fallback(pchc-logo-mobile);
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
			margin: 10px 0;
		}
	}
	
.header-right {
	float: right;
	width: (100% / 3 * 2);
	margin-top: 10px;
}
	
#header-icons {
	float: right;
	margin-top: 10px;
	font-size: 0.75em;
	
	a {
		text-decoration: none;
		color: rgba(#FFF, 0.5);
		@include transition(all 0.2s ease-in);
		
		&:hover {
			color: #FFF;
		}
	}
	
	i {
		font-size: 2.25em;
		margin-left: 0.4em;
	}
	
	span {
		display: inline-block;
		text-align: left;
		font-family: $header;
		font-weight: bold;
		line-height: 1em;
		width: 4.5em;
		margin-left: 0.2em;
	}
}

.searchform {
	width: 100%;
	padding-left: 5%;
	margin-top: 1em;
	
	.button.btn, .s {
		margin: 0 1%;
		font-size: 1.1em;
		line-height: 2em;
		height: 2em;
		font-weight: 200;
		font-family: $sans-serif;
		@include border-radius(3px);
	}
	
	.button.btn {
		float: right;
		width: 15%;
		padding: 0;
		@include border-radius(3px);
		background: lighten($pchc-blue, 3%);
		border: 1px solid lighten($pchc-blue, 3%);
		@include box-shadow(0 4px 0 $pchc-darkblue);
		
		&:hover {
			background: lighten($pchc-blue, 5%);
			border-color: lighten($pchc-blue, 5%);
		}
		
		&:active {
			margin-top: 2px;
			@include box-shadow(0 2px 0 $pchc-darkblue);
		}
	}
	
	.s {
		border: 1px solid $pchc-blue;
		float: left;
		width: 80%;
		padding: 0 0.25em;
		background: #FFF;
		outline: none;
		@include box-sizing(border-box);
		@include box-shadow(0 4px 0 $pchc-darkblue);
		
		&:focus {
			margin-top: -2px;
			@include box-shadow(0 6px 0 $pchc-darkblue);
		}
	}
}

.header-contact {
	width: 100%;
	text-align: center;
	color: #FFF;
	font-family: $header;
	font-weight: bold;
	font-size: 0.9em;
	margin: 0.25em 0;
	
	a {
		color: #FFF;
		text-decoration: none;
	}
}

#menu-header-mobile-menu {
	width: 100%;
	padding-left: 5%;
	
	li {
		width: (100% / 3);
		margin: 0;
		padding: 0 1%;
		float: left;
		
		a {
			font-size: 0.8em;
			text-align: center;
			display: block;
			width: 100%;
			padding: 0 5%;
			line-height: 2.5em;
			background: $pchc-darkblue;
			color: #FFF;
			@include border-radius(3px);
			
			&:hover {
				background: #FFF;
				color: $pchc-blue;
				@include box-shadow(0 4px 0 $pchc-darkblue);
			}
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

#header-nav {
	background: $pchc-darkblue;
	
	.toggle {
		&:before {
			color: #FFF;
		}
		
	}
	
	
}

.admin-bar {
	#header-nav {
		&.fixed {
			.wrap  {
				margin-top: 28px;	
			}
		}
	}
}

.nav {
	font-family: $sans-serif;
	font-weight: 300;
	margin: 0;
	display: none;
	letter-spacing: 1px;

	ul {
		margin: 0;
	}

	li {

		a {
			text-decoration: none;
			color: #FFF;
			
			display: block;
			background: $pchc-blue;
			line-height: 1em;
			padding: 0.5em;
			margin-bottom: 0.5em;
			@include border-radius(3px);
			@include box-shadow(0 1px 1px rgba(#000, 0.5), inset 0 1px 1px rgba(#FFF, 0.1));
			
			position: relative;
			z-index: 1;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {
				background: $pchc-darkblue;
				color: #FFF;
				@include box-shadow(inset 0 1px 1px rgba(#000, 0.5), 0 1px 1px rgba(#FFF, 0.1));
			}
			
			.toggle {
				position: absolute;
				z-index: 10;
				right: 0.5em;
				top: 0.25em;
				margin: 0;
				display: none !important;
			}
		}

		&:first-child {}

		&:last-child {}
		
		&.has-dropdown {
			a {
				.toggle {
					display: block !important;
				}
			}
		}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {
			margin-left: 1em;
			font-size: 0.85em;
			display: none;

			li {

				a {

					&:hover,
					&:focus {}

					&:link {}
					
					.toggle {
						display: none !important;
					}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

.nav-title {
	float: left;
	font-family: $avenir;
	font-weight: 300;
	line-height: 29px;
	margin: 5px;
	color: #FFF;
}

.nav-toggle {
	margin-top: 0.5em;
	
	.icon-bar {
		background: darken(#FFF, 5%);
	}
}

//	.nav-toggle {
//		border: 1px solid rgba(#000, 0.980382);
//		border-bottom-color: rgba(#000, 0.247059);
//		@include border-radius(4px);
//		background-color: rgb(14, 14, 14);
//		@include background-image( linear-gradient(rgb(21, 21, 21), rgb(4, 4, 4)) );
//		color: rgb(255, 255, 255);
//		cursor: pointer;
//		display: block;
//		float: right;
//		font-family: $sans-serif;
//		font-size: 14px;
//		line-height: 20px;
//		height: 29px;
//		width: 40px;
//		margin: 5px 5px 0 5px;
//		padding: 7px 10px;
//		text-align: center;
//		vertical-align: middle;
//		@include text-shadow(0px -1px 0px rgba(#000, 0.2470539));
//		@include box-shadow(rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px inset, rgba(255, 255, 255, 0.0745098) 0px 1px 0px 0px);
//		
//		.icon-bar {
//			@include box-shadow(rgba(0, 0, 0, 0.247059) 0px 1px 0px 0px);
//			background: rgb(245, 245, 245);
//			background-color: rgb(245, 245, 245);
//			@include border-radius(1px);
//			line-height: 14px;
//			height: 2px;
//			margin: 2px 0;
//			text-align: center;
//			@include text-shadow(rgba(0, 0, 0, 0.247059) 0px -1px 0px);
//			vertical-align: text-top;
//			width: 18px;
//			display: block;
//		}
//	}


/*********************
POSTS & CONTENT STYLES
*********************/


#content {
	margin-top: 2.2em;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

.rounded {
	@include border-radius(3px);
}

.well {
	background: #f0f0f6;
	padding: 0.5em;
	//border: 1px solid rgba($pchc-blue, 0.25);
	margin-bottom: 0.5em;
	@include box-shadow(
		0 3px 0px darken(#f0f0f6, 6%)
	);
	@include border-radius(3px);
}

.related-posts {
	.related-posts-type {
		@extend .well;
	}
}

.nomargin {
	margin: 0;
}

		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		.single-title,
		.page-title {}

		.single-title {}

		.page-title {}

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: #999;

			time {}
		}

		/* entry content */
		.entry-content {

			p {}


			ul, ol, table, dl {}

			ul, ol {

				li {
					margin-left: 2em;
				}

			}

			ul {
			
				list-style-type: disc;

				li {}

			}

			ol {
				list-style-type: decimal;

				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */
		
		/*
		image alignment on a screen this size may be
		a bit difficult. It's set to start aligning
		and floating images at the next breakpoint,
		but it's up to you. Feel free to change it up.
		*/
		.alignleft, img.alignleft {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.alignright, img.alignright {}
		.aligncenter, img.aligncenter {}
		
		.alignleft, img.alignleft, .alignright, img.alignright, .aligncenter, img.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.polaroid {
			padding: 0.5em;
			@include border-radius(0.25em);
			@include box-shadow(0 2px 3px rgba(#000, 0.25));
			background-color: darken(#FFF, 2%);
			@include background-image( linear-gradient(darken(#FFF, 2%), darken(#FFF, 4%)) );
		}

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {
				padding: 3%;
				margin: 0;

				a {
					
				}

				img {
					display: block;
					margin: 0 auto;
					max-width: 100%;
					height: auto;
					padding: 3px;
					border: 1px solid #DDD;
					background: #EEE;
					@include border-radius(3px);
					@include transition(all .15s ease-out);
				}
				
				a:hover {
					img {
						background: #FCFCFC;
					}
				}

			}

			dt {
			}

			dd {
				margin: 0;
				font-style: italic;
				font-size: 0.9em;
			}

		} /* end .gallery */
		
		@for $i from 1 to 8 {
			.gallery-columns-#{$i} {
				.gallery-item {
					@if $i > 1 {
						float: left;
					}
					width: 100% / $i;
				}
			}
		}

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}
		
		.content-excerpt {
			border-bottom: 1px solid lighten($pchc-brown, 35%);
			margin-bottom: 1em;
			padding-bottom: 1em;
			
			&:last-child {
				border-bottom: none;
				margin-bottom: 0;
			}
		}
		
		/******************************************************************
		POST TYPE STYLES
		******************************************************************/
		
		.post-type-archive {
		
			.type-provider {
				&.content-excerpt {
					padding: 1em 0;
					margin: 0;
					border: none;
					display: block;
					vertical-align: top;

					.thumb-provider {
						float: right;
						max-width: 33%;
						margin-left: 1em;

						&:after {
							display: block;
							content: "";
							clear: both;
						}
					}

					.provider-archive-related {
						font-size: 0.8em;
						line-height: 1.2em;
						margin-bottom: 0.5em;

						a {
							text-decoration: none;
						}

						.related-title {
							color: #555;
						}
					}
				}
			}
			
			.type-service {
				
			}
			
			.type-location {
				&.content-excerpt {
					width: 50%;
					float: left;
					padding: 1em;
					margin: 0;
					border-top: 1px solid lighten($pchc-brown, 35%);
					border-bottom: none;
					
					&:nth-child(2n+1) {
						clear: left;
					}
				}
			}
		
		}
		
		
/******************************************************************
SEARCH RESULTS STYLES
******************************************************************/
$search-mix: 7%;
$search-label-mix: 80%;

.search-results {

	.content-excerpt {
		padding-top: 1em;
		position: relative;
		z-index: 1;
	}
	
	.type-post {
		$post-color: #000;
		background: mix($post-color, #FFF, $search-mix/2);
		
		.post-type-label {
			background: mix($post-color, #FFF, $search-label-mix);
		}
	}
	
	.type-page {
		$post-color: #1F7FBF;
		background: mix($post-color, #FFF, $search-mix);
		
		.post-type-label {
			background: mix($post-color, #FFF, $search-label-mix);
		}
	}
	
	.type-attachment {
		$post-color: #BF1FB5;
		background: mix($post-color, #FFF, $search-mix);
		
		.post-type-label {
			background: mix($post-color, #FFF, $search-label-mix);
		}
	}
	
	.type-product {
		$post-color: #49BF1F;
		background: mix($post-color, #FFF, $search-mix);
		
		.post-type-label {
			background: mix($post-color, #FFF, $search-label-mix);
		}
	}
	
	.type-jobman_job {
		$post-color: #000000;
		background: mix($post-color, #FFF, $search-mix);
		
		.post-type-label {
			background: mix($post-color, #FFF, $search-label-mix);
		}
	}
	
	.type-location {
		$post-color: $pchc-brown;
		background: mix($post-color, #FFF, $search-mix);
		
		.post-type-label {
			background: mix($post-color, #FFF, $search-label-mix);
		}
	}
	
	.type-service {
		$post-color: $pchc-red;
		background: mix($post-color, #FFF, $search-mix);
		
		.post-type-label {
			background: mix($post-color, #FFF, $search-label-mix);
		}
	}
	
	.type-provider {
		$post-color: $pchc-blue;
		background: mix($post-color, #FFF, $search-mix);
		
		.post-type-label {
			background: mix($post-color, #FFF, $search-label-mix);
		}
	}
	
	.post-type-label {
		position: absolute;
		top: 0;
		right: 10px;
		padding: 0.25em 0.5em;
		line-height: 1em;
		font-size: 0.7em;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		border-bottom: 1px solid rgba(#FFF, 0.9);
		font-family: $sans-serif;
		font-weight: 100;
		color: #FFF;
		@include border-radius(3px);
	}
}

#refine-search {
	@extend .search-results;
	display: none;
	position: fixed;
	top: 100%;
	bottom: auto;
	right: 0;
	left: 0;
	width: auto;
	z-index: 1002;
	padding: 5px 10px;
	background: rgba(#FFF, 0.9);
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin-bottom: 0;
	@include box-shadow(0 -5px 15px rgba(#000,0.2));
	@include border-radius(3px 3px 0 0);
	
	&.toggle-hide {
		top: 100%;
		bottom: auto;
	}
	
	&.toggle-show {
		top: auto;
		bottom: 0;
		
		.widgettitle {
			&:after {
				content: "\2193";
			}
		}
	}
	
	.js & {
		display: block;
	}
	
	.widgettitle {
		position: absolute;
		right: 10%;
		bottom: 100%;
		white-space: nowrap;
		background: rgba(#FFF, 0.9);
		padding: 0.5em;
		z-index: 1003;
		margin-bottom: 0;
		@include transform-origin(0,0);
		@include border-radius(3px 3px 0 0);
		
		&:after {
			content: "\2191";
			display: inline;
			padding-left: 0.5em;
		}
	}
	
	ul {
		margin-bottom: 0;
		@include column-count(2);
	}
	
	label {
		display: block;
		padding: 0.25em;
		cursor: pointer;
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {
		$navbg: #F3F3F3;
		font-family: $sans-serif;

		ul {
			padding: 0.5em;
			background: $navbg;
			@include border-radius(3px);
			@include box-shadow(0 1px 1px rgba(#000,0.2));
			
			li {
				list-style-type: none;
				margin: 0;
				max-width: 33%;
				font-size: 0.8em;
				color: $pchc-blue;
				@include text-shadow(0 1px 0 rgba(#FFF, 0.8));
				
				a {
					text-decoration: none;
					
					&:hover {
						
						~ i {
							color: $pchc-red;
						}
					}
				}
			}
			
			.next-link {
				float: right;
				text-align: right;
			}
			
			.prev-link {
				float: left;
			}
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 1em;
	margin-bottom: 1em;
	background: mix($pchc-blue, #FFF, 7%);
	padding: 0.5em;
	@include border-radius(3px);
}

	.widgettitle {}

	.widget {
		margin-bottom: 1em;

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}
	
	
/*********************
FEATURE STYLES
*********************/
	
#above-content {
	background: $pchc-blue;
	color: #FFF;
	overflow: hidden;
	
	.wrap {
		
	}
	
	a {
		color: rgba(#FFF, 0.75);
		
		&:hover {
			color: #FFF;
		}
	}
	
	.widget, #homepage-features {
		padding: 1.5em 0;
	}
	
	.homepage-feature {
		width: (100% / 3);
		float: left;
		padding: 0 20px;
		
		img {
			max-width: 100%;
			height: auto;
			margin-bottom: 1em;
			@include border-radius(50%);
			@include box-shadow(0 10px 20px rgba(#000, 0.3));
			@include transition(all 0.2s ease-in);
			
			&:hover {
				@include box-shadow(0 10px 25px rgba(#000, 0.4));
			}
		}
		
		h3 {
			font-family: $sans-serif;
			text-align: left;
			font-size: 1.4em;
			margin: 0.5em 0 0.25em;
			color: #FFF;
			font-weight: 200;
		}
		
		.content {
			font-family: $sans-serif;
			font-weight: 100;
			font-size: 1.2em;
			
			p {
				margin: 0 0 1em;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}


/*********************
BELOW CONTENT SERVICES
*********************/
#below-content {
	li {
		float: left;
		width: 50%;
		margin: 0;
		padding: 0;
		
		a {
			display: block;
			text-align: center;
			margin: 0.25em 0.5em;
			font-family: $sans-serif;
			background: mix($pchc-blue, #FFF, 7%);
			line-height: 2.5em;
			text-decoration: none;
			@include text-shadow(0 1px 0 #FFF);
			@include border-radius(3px);
			@include transition(0.15s all ease-out);
			
			&:hover {
				background: $pchc-blue;
				color: #FFF;
				@include text-shadow(none);
				@include box-shadow(0 3px 5px rgba(#000, 0.3) inset);
			}
		}
	}
}


/*********************
FOOTER STYLES
*********************/

.footer-top {
	clear: both;
	@include vector-bg-with-fallback(footer-swoosh);
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 150px;
	overflow: hidden;
}

.footer-bottom {
	background: $pchc-brown;
	min-height: 1px;
}

.footer-mid {
	background: $pchc-darkbrown;
}

.copyright {
	color: #FFF;
	font-family: $sans-serif;
	font-weight: 100;
	margin: 85px 0 0;
}

#footer-locations {
	color: #FFF;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	padding: 2em 0;
	
	li {
		margin: 0 0 20px 0;
		padding: 0 20px 0 0;
		width: (100%/3);
		float: left;
		
		h4 {
			font-size: 1em;
			font-family: $serif;
			font-weight: bold;
			margin: 0;
		}
		
		p {
			margin: 0;
		}
		
		a {
			color: #FFF;
		}
		
		&:nth-child(3n+1) {
			clear: left;
		}
	}
}

.footer {
	
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	
	#footer {

		.nav {
			margin: 0;

			li {
				a {
					padding: 10px;
					color: #FFF;
					border: none;
					
					&:hover {
						background: $pchc-brown;
					}
				}
			}

		}

	} /* end .footer-links */


	.copyright {}

.wpfilebase-file-default {
	width: auto;
	background: none;
	border: none;
	@include border-radius(3px);
	@include box-shadow(none);
	
	&:nth-child(2n) {
		background: #F3F3F3;
	}
	
	.icon {
		img {
			height: 32px;
			padding: 1px;
			border: 1px solid #CCC;
			@include border-radius(3px);
		}
	}
	
	.filetitle {
		max-width: 50%;
		
		a {
			line-height: 1.1em;
		}
	}
	
	.info {
		margin: 0 10px;
		height: auto;
		background: url(../images/download-sprite.png) 100% 0 no-repeat;
	}
	
	&:hover {
		.info {
			background-position: 100% -200px; 
		}
	}
}

ul.treeview {
	li {
		margin-left: 0;
	}
	
	img {
		max-height: 16px;
		margin: 0;
	}
	
	.last {
		float: none;
	}
}

#above-content .homepage-feature .thumbnail {
	display: inline-block;
	font-size: 45px;
	line-height: 90px;
	cursor: pointer;
	width: 100%;
	height: auto;
	@include border-radius(50%);
	text-align: center;
	position: relative;
	text-decoration: none;
	z-index: 1;
	color: #fff;
	margin: 0;
	
	//.effect-7
	@include transition(background 0.2s, color 0.2s);
	
	img {
		display: block;
		margin: 0;
		@include box-shadow(none);
	}
	
	&:before {
		speak: none;
		font-size: 48px;
		line-height: 90px;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		display: block;
		-webkit-font-smoothing: antialiased;
		
		//.sub-b
		@include transform(scale(0.8));
		opacity: 0.7;
		-webkit-transition: -webkit-transform 0.2s, opacity0.2s;
		-moz-transition: -moz-transform 0.2s, opacity0.2s;
		transition: transform 0.2s, opacity0.2s;
	}
	
	&:after {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		content: '';
		@include box-sizing(content-box);
		
		//.effect-07
		top: -8px;
		left: -8px;
		padding: 8px;
		z-index: -1;
		opacity: 0;
		
		//.sub-b
		@include box-shadow(4px 4px white);
		@include transform(rotate(-90deg));	
		-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
		-moz-transition: opacity 0.2s, -moz-transform 0.2s;
		transition: opacity 0.2s, transform 0.2s;
	}
	
	&:hover {
		color: #fff;
		
		&:before {
			@include transform(scale(1));
			opacity: 1;
		}
		
		&:after {
			opacity: 1;
			@include transform(rotate(0deg));
		}
	}
}

.metaslider {
	
	.slider-wrapper {
		&.theme-light {
			background: $pchc-blue;
		}
	}

	.nivo-caption {
		font-family: $sans-serif;
		position: absolute;
		color: #fff;
		width: auto;
		z-index: 8;
		padding: 5px 10px;
		overflow: hidden;
		display: none;
		top: auto;
		left: 45%;
		right: 0;
		bottom: 0;
		background: $pchc-blue;
		font-weight: 100;
		@include opacity(1);
		@include border-radius(6px 0 0 0);
		
		h2 {
			color: #FFF;
		}
	}
}

/*********************
NINJA FORMS STYLES
*********************/

#content {

	.ninja-forms-form-wrap {
		background: #FAFAFA;
		border: 1px solid #F0F0F0;
		padding: 1em;
		@include border-radius(3px);
		
		#ninja_forms_required_items {
			color: $pchc-red;
		}
		
		.ninja-forms-response-msg {
			padding: 1em;
			border: 1px solid rgba(#FFF,1);
			background: rgba(#FFF,0.5);
			margin-bottom: 10px;
			@include border-radius(3px);
			
			&.ninja-forms-error-msg {
				background: rgba($pchc-red, 0.075);
				border-color: rgba($pchc-red, 0.3);
				color: $pchc-red;
			}
			
			p:last-child {
				margin-bottom: 0;
			}
		}
		
		.field-wrap {
			padding: 0.5em;
		
			label {
				display: block;
				width: 30%;
				line-height: 1.8em;
				vertical-align: middle;
				
				.ninja-forms-help-text {
					margin: 0;
				}
			}
			
			.ninja-forms-field {
				display: inline-block;
				width: 65%;
				line-height: 1.2em;
				padding: 0.3em;
				margin: 0;
				border: 1px solid #CCC;
				vertical-align: middle;
				color: #555;
				font-family: $sans-serif;
				font-weight: normal;
				@include border-radius(3px);
				@include box-shadow(inset 0 1px 1px rgba(#000, 0.075));
				@include transition(all linear 0.2s);
				
				&:focus {
					outline: 0;
					outline: thin dotted \9;
					border-color: rgba($pchc-blue, 0.5);
					@include box-shadow(inset 0 1px 1px rgba(#000, 0.075), 0 0 8px rgba($pchc-blue, 0.5));
				}
				
				&.ninja-forms-req:focus {
					border-color: rgba($pchc-red, 0.5);
					@include box-shadow(inset 0 1px 1px rgba(#000, 0.075), 0 0 8px rgba($pchc-red, 0.5));
				}
				
				&[type=checkbox], &[type=radio] {
					width: auto;
					@include box-shadow(none);
				}
			}
			
			.ninja-forms-field-description {
				font-size: 0.8em;
				color: #555;
			}
			
			.ninja-forms-field-error {
				clear: both;
				font-size: 0.8em;
				font-style: italic;
				color: $pchc-red;
			}
			
			&.label-above, &.label-below {
				label {
					display: block;
					width: 100%;
				}
				
				.ninja-forms-field {
					display: block;
					width: 100%;
					
					&[type=checkbox], &[type=radio] {
						display: inline-block;
						width: auto;
						margin-right: 1em;
					}
				}
			}
			
			&.label-left {
				label {
					float: left;
				}
				
				.ninja-forms-field {
					float: right;
				}
			}
			
			&.label-right {
				label {
					float: right;
				}
				
				.ninja-forms-field {
					float: left;
				}
			}
			
			&.label-inside {
				label {
					
				}
				
				.ninja-forms-field {
					width: 100%;
				}
			}
			
			&:nth-child(2n) {
				background: #F5F5F5;
			}
			
			&.submit-wrap {
				padding: 0;
				background: none;
				
				.ninja-forms-field {
					width: auto;
					float: right;
					border: 1px solid $pchc-darkbrown;
					background: $pchc-brown;
					color: #FFF;
					@include box-shadow(0 1px 1px rgba(#000, 0.075));
					@include transition(all 0.1s ease-out);
					
					&:hover {
						border-color: $pchc-darkblue;
						background: $pchc-blue;
						@include box-shadow(0 1px 1px rgba(#000, 0.075), 0 0 8px rgba($pchc-blue, 0.5));
					}
				}
			}
		}
	}
	
}


/*********************
WOOCOMMERCE STYLES
*********************/

.woocommerce, .woocommerce-page {
	div.product {
		
		div.images {
			
		}
		
		div.summary {
			
		}
		
		&.no-thumbnail {
			
			div.images {
				display: none;
			}
			
			div.summary {
				float: none;
				width: auto;
			}
		}
		
		.woocommerce-tabs {
			.panel {
				h2 {
					display: none;
				}
			}
		}
	}
}

.woocommerce #content, .woocommerce-page #content {
	@extend .woocommerce;
}


//
// Tables
// --------------------------------------------------


table {
  max-width: 100%;
  background-color: $table-bg;
}
th {
  text-align: left;
}


// Baseline styles

.table {
  width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: transparent;
  }
}


// Condensed table w/ half padding

.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-condensed-cell-padding;
      }
    }
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-child(odd) {
    > td,
    > th {
      background-color: $table-bg-accent;
    }
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: $table-bg-hover;
    }
  }
}


// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}
table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none;
      display: table-cell;
    }
  }
}

@media (max-width: 481px) {
  .table-responsive {
    width: 100%;
    margin-bottom: ($line-height-computed * 0.75);
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $table-border-color;
    -webkit-overflow-scrolling: touch;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}
